[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.34.0"
matplotlib = "==3.9.0"
vl-convert-python = "==1.4.0"
emoji = "*"
plotly = "*"
seaborn = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.0"

[dev-packages]
ruff = "==0.4.4"
black = "==24.4.2"
pre-commit = "==3.7.1"
